body {
	font-family: 'Century Gothic', sans-serif;
	font-color: #161032;
	background: linear-gradient(to right, #faff81, #ffc53a);
	text-align: center;
}

h1 {
	font-size: 48px;
	margin-bottom: 50px;
}

input, button, p {
	width: 100%;
	font-size: 22px;
	padding: 25px 5px;
	border: 5px outset #161032;
	text-align: center;
	margin: 10px;
}

.style1 {
	background: linear-gradient(#662E9B, #6247AA);
	color: #C0C0C0;
}

.style2 {
	background: linear-gradient(#F9A03F, #F9A03F);
}

.style3 {
	background: #161032;
	color: #C0C0C0;
}

.winner {
	background-image: url("party.jpg");
}

.fire {
	background-image: url("fire.jpg");
}
